@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/AdminLTEAccount/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
Now, your email is confirmed. Please <a id="forgot-password" asp-page="./Login">Login</a> with your email and password.