@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/AdminLTEAccount/_Layout.cshtml";
}

<p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input-group mb-3">
        <input asp-for="Input.Email" class="form-control" type="email" placeholder="Email" />
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
