@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/AdminLTEAccount/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

